<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.CarMapper">

	<!-- 通过用户CustID找到预约车信息 -->
	<select id="FindByCarcustidX" parameterType="int"
		resultType="org.great.bean.Car">
		select * from tb_car where cust_id =#{number} and c_id not
		in (SELECT c_id from tb_appointment )
	</select>


	<!-- 通过车牌找到车信息 -->
	<select id="FindByCarNumber" parameterType="String"
		resultType="org.great.bean.Car">
		select * from tb_car where c_num =#{number}
	</select>
	<!-- 通过车牌找到车信息 包括车辆角色XXX -->
	<select id="FindCarRoleByCarNumberPmtypeNameX"
		resultType="org.great.bean.Car">
		select * from tb_car where c_num =#{number} and pm_id
		=(select pm_id from tb_param where pm_type = #{pm_type} and pm_name
		=#{pm_name})
	</select>
	<!-- 根据车牌号更改车辆角色 -->
	<update id="chagerPmIDByCarNumberX"
		parameterType="org.great.bean.Car">
		update tb_car set pm_id= #{pm_id} where c_num =
		#{c_num}
	</update>
	<!-- 根据车牌号更改车辆角色和车主ID -->
	<update id="chagerPmIDCustIDByCarNumberX"
		parameterType="org.great.bean.Car">
		update tb_car set cust_id=#{cust_id}, pm_id= #{pm_id}
		where c_num =
		#{c_num}
	</update>
	<!-- 根据车牌号更改车主ID -->
	<update id="chagerCustIDByCarNumberX">
		update tb_car set cust_id=#{cust_id} where c_num =
		#{c_num}
	</update>
	<!-- 根据车牌号更改车主ID 主要是设为空 取消绑定的 -->
	<update id="chagerCustIDNULLByCarNumberX">
		update tb_car set cust_id=null, pm_id= #{pm_id}
		where
		c_num = #{c_num}
	</update>




	<!-- 增加临时车信息 -->
	<insert id="AddCarMsg" parameterType="String">
		insert into
		tb_car(cust_id,pm_id,c_num) values (null,14,#{number})
	</insert>
	<!-- 增加车信息 -->
	<insert id="AddCarCX" parameterType="org.great.bean.Car">
		insert into
		tb_car(cust_id,pm_id,c_num) values (#{cust_id},#{pm_id},#{c_num})
	</insert>

	<!-- 通过车牌找到车Vip表信息 -->
	<select id="FindVipByCarNumberX" parameterType="String"
		resultMap="findCarVipMap">
		select * from tb_car c LEFT JOIN tb_vip v on c.c_id = v.c_id
		where c_num = #{number} and v.pm_id = 15
	</select>
	<resultMap type="org.great.bean.Car" id="findCarVipMap">
		<id property="c_id" column="c_id" />
		<result property="cust_id" column="cust_id" />
		<result property="pm_id" column="pm_id" />
		<result property="c_num" column="c_num" />
		<collection property="vip" column="v_id"
			javaType="org.great.bean.Vip">
			<id property="v_id" column="v_id" />
			<result property="co_id" column="co_id" />
			<result property="c_id" column="c_id" />
			<result property="v_starttime" column="v_starttime" />
			<result property="v_overtime" column="v_overtime" />
		</collection>
	</resultMap>
	<!-- 通过车牌找到车Vip表信息 18 待生效 -->
	<select id="FindVipByCarNumber18X" parameterType="String"
		resultMap="findCarVip18Map">
		select * from tb_car c LEFT JOIN tb_vip v on c.c_id = v.c_id
		where c_num = #{number} and v.pm_id = 18
	</select>
	<resultMap type="org.great.bean.Car" id="findCarVip18Map">
		<id property="c_id" column="c_id" />
		<result property="cust_id" column="cust_id" />
		<result property="pm_id" column="pm_id" />
		<result property="c_num" column="c_num" />
		<collection property="vip" column="v_id"
			javaType="org.great.bean.Vip">
			<id property="v_id" column="v_id" />
			<result property="co_id" column="co_id" />
			<result property="c_id" column="c_id" />
			<result property="v_starttime" column="v_starttime" />
			<result property="v_overtime" column="v_overtime" />
		</collection>
	</resultMap>
	<!-- 根据手机号查询该用户名下车辆VIP信息 -->
	<select id="findCustCarVipStateX"
		resultMap="findCustCarVipStateMap">
		SELECT * from (
		select c1.cust_id ,
		c1.cust_acc,c1.cust_sex,c1.cust_age,c1.cust_phone,c1.cust_money,c2.c_id,c2.c_num
		FROM tb_cust c1 LEFT JOIN tb_car c2
		on c1.cust_id = c2.cust_id where
		c1.cust_phone = #{cust_phone} and c2.pm_id = #{cpm_id}) c3
		LEFT JOIN
		tb_vip v on c3.c_id =
		v.c_id where v.pm_id = (SELECT pm_id
		from tb_param
		where pm_type =
		#{pm_type} and pm_name =#{pm_name})
	</select>
	<resultMap type="org.great.bean.Car"
		id="findCustCarVipStateMap">
		<id property="c_id" column="c_id" />
		<result property="c_num" column="c_num" />
		<collection property="cust" column="cust_id"
			javaType="org.great.bean.Cust">
			<id property="cust_id" column="cust_id" />
			<result property="cust_acc" column="cust_acc" />
			<result property="cust_sex" column="cust_sex" />
			<result property="cust_age" column="cust_age" />
			<result property="cust_phone" column="cust_phone" />
			<result property="cust_money" column="cust_money" />
		</collection>
		<collection property="vip" column="v_id"
			javaType="org.great.bean.Vip">
			<id property="v_id" column="v_id" />
			<result property="co_id" column="co_id" />
			<result property="c_id" column="c_id" />
			<result property="v_starttime" column="v_starttime" />
			<result property="v_overtime" column="v_overtime" />
			<result property="pm_id" column="pm_id" />
		</collection>
	</resultMap>

	<!-- 根据手机号查询该用户名下车辆信息 -->
	<select id="findCustCarX" parameterType="org.great.bean.Cust"
		resultMap="findCustCarMap">
		select * from (select cc.cust_id,cc.pm_id ccpmid,cc.cust_acc
		,cc.cust_pwd ,cc.cust_sex ,cc.cust_phone ,cc.cust_money,c.c_id ,c.pm_id cpmid,c.c_num 
		from tb_cust cc LEFT JOIN
		tb_car c on
		cc.cust_id=c.cust_id where
		cc.cust_phone=#{cust_phone} and cc.pm_id = '3')
		c2 LEFT JOIN tb_param
		pm on c2.cpmid = pm.pm_id
	</select>
	<resultMap type="org.great.bean.Car" id="findCustCarMap">
		<id property="c_id" column="c_id" />
		<result property="cust_id" column="cust_id" />
		<result property="pm_id" column="ccpmid" />
		<result property="c_num" column="c_num" />
		<collection property="cust" column="cust_id"
			javaType="org.great.bean.Cust">
			<id property="cust_id" column="cust_id" />
			<result property="pm_id" column="cpmid" />
			<result property="cust_acc" column="cust_acc" />
			<result property="cust_pwd" column="cust_pwd" />
			<result property="cust_sex" column="cust_sex" />
			<result property="cust_age" column="cust_age" />
			<result property="cust_phone" column="cust_phone" />
			<result property="cust_money" column="cust_money" />
		</collection>
		<collection property="param" column="pm_id"
			javaType="org.great.bean.Param">
			<id property="pm_id" column="pm_id" />
			<result property="pm_name" column="pm_name" />
			<result property="pm_type" column="pm_type" />
		</collection>
	</resultMap>
	<!-- 根据车牌号查询车辆信息车辆信息 -->
	<select id="findCustCarNumberByPhoneX" parameterType="String"
		resultMap="findCustCarNumberByPhoneMap">
		select * from tb_cust cc LEFT JOIN
		tb_car c on
		cc.cust_id=c.cust_id where
		c.c_num =
		#{Number}
	</select>
	<resultMap type="org.great.bean.Car"
		id="findCustCarNumberByPhoneMap">
		<id property="c_id" column="c_id" />
		<result property="cust_id" column="cust_id" />
		<result property="pm_id" column="pm_id" />
		<result property="c_num" column="c_num" />
		<collection property="cust" column="cust_id"
			javaType="org.great.bean.Cust">
			<id property="cust_id" column="cust_id" />
			<result property="pm_id" column="pm_id" />
			<result property="cust_acc" column="cust_acc" />
			<result property="cust_pwd" column="cust_pwd" />
			<result property="cust_sex" column="cust_sex" />
			<result property="cust_age" column="cust_age" />
			<result property="cust_phone" column="cust_phone" />
			<result property="cust_money" column="cust_money" />
		</collection>
	</resultMap>

	<!-- 根据车ID查询车辆信息和用户信息 -->
	<select id="findCustCarNumberByCarIDX" parameterType="int"
		resultMap="findCustCarNumberByCarIDMap">
		select * from tb_cust cc LEFT JOIN
		tb_car c on
		cc.cust_id=c.cust_id where
		c.c_id =
		#{cid}
	</select>
	<resultMap type="org.great.bean.Car"
		id="findCustCarNumberByCarIDMap">
		<id property="c_id" column="c_id" />
		<result property="cust_id" column="cust_id" />
		<result property="pm_id" column="pm_id" />
		<result property="c_num" column="c_num" />
		<collection property="cust" column="cust_id"
			javaType="org.great.bean.Cust">
			<id property="cust_id" column="cust_id" />
			<result property="pm_id" column="pm_id" />
			<result property="cust_acc" column="cust_acc" />
			<result property="cust_pwd" column="cust_pwd" />
			<result property="cust_sex" column="cust_sex" />
			<result property="cust_age" column="cust_age" />
			<result property="cust_phone" column="cust_phone" />
			<result property="cust_money" column="cust_money" />
		</collection>
	</resultMap>

	<!-- 根据车牌号号查询车辆VIP信息 -->
	<select id="findCarVipStateX" parameterType="String"
		resultMap="findCarVipStateXMap">
		select c.c_id,c.cust_id,c.pm_id
		,c.c_num,v.v_id,v.co_id,v.c_id
		vcid,v.v_starttime,v.v_overtime,v.pm_id vpmid from tb_car c LEFT JOIN
		tb_vip v on c.c_id = v.c_id
		where c.c_num
		=#{c_num}
	</select>
	<resultMap type="org.great.bean.Car" id="findCarVipStateXMap">
		<id property="c_id" column="c_id" />
		<result property="cust_id" column="cust_id" />
		<result property="pm_id" column="pm_id" />
		<result property="c_num" column="c_num" />
		<collection property="vip" column="v_id"
			javaType="org.great.bean.Vip">
			<id property="v_id" column="v_id" />
			<result property="co_id" column="co_id" />
			<result property="c_id" column="c_id" />
			<result property="v_starttime" column="v_starttime" />
			<result property="v_overtime" column="v_overtime" />
			<result property="pm_id" column="vpmid" />
		</collection>
	</resultMap>

	<!-- 通过用户CarID找到车信息 -->
	<select id="FindCarByCaridX" parameterType="String"
		resultType="org.great.bean.Car">
		select * from tb_car where c_num =#{c_num}
	</select>
	
	<!-- 更新车辆进场照片 -->
	<update id="updatePic" parameterType="org.great.bean.Car">
		update tb_car set c_pic=#{c_pic} where c_id=#{c_id}
	</update>
</mapper>