<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.LogMapper">

	<select id="logList" resultType="org.great.bean.Log">
		select * from tb_log
	</select>



		<select id="seachLog"  resultType="org.great.bean.Log" parameterType="java.util.Map">
			<if test="dataMap!=null">
			 select cc.* from
			</if>			
				(select * from tb_log ORDER BY '' DESC )
 			<if test="dataMap!=null">
 				cc
 			</if>
 			<where>
 				<if test="dataMap!=null">				
				<foreach collection="dataMap.keys"  item="key" separator="or"  >      	    
         	  	 ${key} like  "%"#{dataMap[${key}]}"%"
        		   
        		 </foreach>    		
        		 </if>
        	 </where> 	
		</select>
</mapper>