<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.ParamMapper">
	<select id="paramList" resultType="org.great.bean.Param">
		select * from tb_param 
	</select>
	
	<select id="getParamObject" resultType="org.great.bean.Param">
		select * from tb_param where pm_id=${pm_id}
	</select>
		
</mapper>