<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.ParkMapper">
 	 <!--   添加车位 -->
	<insert id="AddPark" parameterType="org.great.bean.Park" >
	insert into tb_park(pm_id,p_fore,p_num,p_state,p_mapid) values (#{pm_id},#{p_fore},#{p_num},#{p_state},#{p_mapid})
	</insert>
	
	
	
	
	<!-- 初始多表查询 -->
		<select id="FindAll" parameterType="org.great.bean.Park"
		resultMap="FindAllMap">
	select a.*,c.c_num from(select p.p_id,p.pm_id,p.c_id,p.p_fore,p.p_num,p.p_state,p_mapid,p_imgpath,pm.pm_name,pm.pm_type
	 from (select * from tb_park where 1=1
	  <if test="p_fore!=null"> and p_fore = #{p_fore} </if>
	 <if test="p_state!=null"> and p_state = #{p_state} </if>
	 <if test="pm_id!=0"> and pm_id = #{pm_id} </if>
	  <if test="p_num!=0"> and p_num = #{p_num} </if>
	 )p left join tb_param pm on p.pm_id=pm.pm_id)a left join  
	 tb_car c on  a.c_id=c.c_id 
	</select>
	<resultMap type="org.great.bean.Park" id="FindAllMap">
		<id property="p_id" column="p_id"></id>
		<result property="pm_id" column="pm_id" />
		<result property="c_id" column="c_id" />
		<result property="p_fore" column="p_fore" />
		<result property="p_num" column="p_num" />
		<result property="p_state" column="p_state" />
		<result property="p_mapid" column="p_mapid" />
		<result property="p_imgpath" column="p_imgpath" />
		<association property="param" column="pm_id"
			javaType="org.great.bean.Param">
			<id property="pm_id" column="pm_id" />
			<result property="pm_name" column="pm_name" />
			<result property="pm_type" column="pm_type" />
		</association>
		<association property="car" column="c_id"
			javaType="org.great.bean.Car">
			<id property="c_id" column="c_id" />
			<result property="c_num" column="c_num" />
		</association>

	</resultMap>
	
	
	
	
	
	
	
	
	
	
	<!-- 有条件的多表查询 -->
		<select id="FindList" parameterType="org.great.bean.Park"
		resultMap="parkMap">
	<if test='c_num!="x"'>select a.*,c.c_num from(
	select p.p_id,p.pm_id,p.c_id,p.p_fore,p.p_num,p.p_state,p_imgpath,pm.pm_name,pm.pm_type,p_mapid 
	 from (select * from tb_park where 1=1
	  <if test="p_fore!=null"> and p_fore = #{p_fore} </if>
	 <if test="p_state!=null"> and p_state = #{p_state} </if>
	 <if test="pm_id!=0"> and pm_id = #{pm_id} </if>
	  <if test="p_num!=0"> and p_num = #{p_num} </if>
	 ) 
	 p left join tb_param pm on p.pm_id=pm.pm_id 
	 )a right join 
	 (select * from tb_car where c_num = #{c_num}
	 )c on a.c_id=c.c_id </if>
	 
	 <if test='c_num=="x"'>
	select p.p_id,p.pm_id,p.c_id,p.p_fore,p.p_num,p.p_state,p_imgpath,pm.pm_name,pm.pm_type,p_mapid 
	 from (select * from tb_park where c_id is null
	  <if test="p_fore!=null"> and p_fore = #{p_fore} </if>
	 <if test="p_state!=null"> and p_state = #{p_state} </if>
	 <if test="pm_id!=0"> and pm_id = #{pm_id} </if>
	  <if test="p_num!=0"> and p_num = #{p_num} </if>
	 )p left join tb_param pm on p.pm_id=pm.pm_id</if>
	 </select>
	<resultMap type="org.great.bean.Park" id="parkMap">
		<id property="p_id" column="p_id"></id>
		<result property="pm_id" column="pm_id" />
		<result property="c_id" column="c_id" />
		<result property="p_fore" column="p_fore" />
		<result property="p_num" column="p_num" />
		<result property="p_state" column="p_state" />
		<result property="p_mapid" column="p_mapid" />
		<result property="p_imgpath" column="p_imgpath" />
		
		<association property="param" column="pm_id"
			javaType="org.great.bean.Param">
			<id property="pm_id" column="pm_id" />
			<result property="pm_name" column="pm_name" />
			<result property="pm_type" column="pm_type" />
		</association>
		<association property="car" column="c_id"
			javaType="org.great.bean.Car">
			<id property="c_id" column="c_id" />
			<result property="c_num" column="c_num" />
		</association>

	</resultMap>
	
	
	<update id="SetState" parameterType="org.great.bean.Park">
	update tb_park set p_state=#{p_state} where p_id=#{p_id}
	</update>
	
	<select id="FindGroup" resultType="org.great.bean.Park">
	select  * from tb_park GROUP BY p_fore
	</select>
	
	<select id="FindMapID" parameterType="java.lang.String" resultType="org.great.bean.Park">
	select  * from tb_park where p_mapid=#{id}
	</select>
	<select id="FindForeAndNum" parameterType="org.great.bean.Park" resultType="org.great.bean.Park">
	select  * from tb_park where p_num=#{p_num}
	</select>
	
	<select id="FindByID" parameterType="java.lang.String" resultType="org.great.bean.Park">
	select  * from tb_park where p_id=#{id}
	</select>
	
	<!-- 修改车位 -->
	<update id="UpdatePark" parameterType="org.great.bean.Park">
	update tb_park set p_fore=#{p_fore},p_num=#{p_num},p_mapid=#{p_mapid} where p_id=#{p_id}
	</update>
	
	<!-- 空车位 开放-->
	<select id="EmptyCount" parameterType="java.lang.String" resultType="java.lang.Integer">
	select  count(*) from tb_park where c_id is null and p_fore=#{p_fore} and p_state='开放'
	</select>
	<!-- 空车位 维护-->
	<select id="EmptyCount_close" parameterType="java.lang.String" resultType="java.lang.Integer">
	select  count(*) from tb_park where c_id is null and p_fore=#{p_fore} and p_state='维护'
	</select>
	
	<!-- 已经占用车位 -->
	<select id="OccupiedCount" parameterType="java.lang.String" resultType="java.lang.Integer">
	select  count(*) from tb_park where c_id is not null and p_fore=#{p_fore}
	</select>
</mapper>