<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.ReceiptMapper">
<!-- 添加收支表记录 -->
	<insert id="AddReceiptX" parameterType="org.great.bean.Receipt">
		insert into
		tb_receipt (u_id,c_id,re_thing,re_money,re_time) values (#{u_id},#{c_id},#{re_thing},#{re_money},#{re_time})
	</insert>
	<select id="findDailyRecp"
		parameterType="org.great.bean.Receipt" resultMap="receiptMap">
		select re_id,u_name,c_num,re_thing,re_money,re_time,c.c_id,u_id from 
		(select tb1.*,u.u_name FROM(select * 
		from tb_receipt re where re.re_time like CONCAT('%','${re_time}','%' ))tb1
		LEFT JOIN tb_user u on u.u_id= tb1.u_id)tb2 
		LEFT JOIN tb_car c on c.c_id=tb2.c_id
	</select>
	<resultMap type="org.great.bean.Receipt" id="receiptMap">
		<id property="re_id" column="re_id" />
		<result property="re_thing" column="re_thing" />
		<result property="re_money" column="re_money" />
		<result property="re_time" column="re_time" />

		<association property="car" javaType="org.great.bean.Car">
			<id property="c_id" column="c_id" />
			<result property="c_num" column="c_num" />
		</association>
		<association property="user"
			javaType="org.great.bean.User">
			<id property="u_id" column="u_id" />
			<result property="u_name" column="u_name" />
		</association>
	</resultMap>
	<!-- 查询所有的收费情况进行统计 -->
	<select id="findCountMoneyReX" resultMap="findCountMoneyReXMap">

		SELECT * from (
		select
		re.*,c.c_num ,c.pm_id from tb_receipt re LEFT JOIN tb_car c on
		re.c_id
		= c.c_id where re.re_thing = '停车收费' 
		<if test="re_time1!=null"> and re_time &gt; #{re_time1} </if>
		<if test="re_time2!=null"> and re_time &lt; #{re_time2} </if>
		)
		re1 LEFT
		JOIN tb_param pm on re1.pm_id = pm.pm_id
	</select>
	<resultMap type="org.great.bean.Receipt"
		id="findCountMoneyReXMap">
		<id property="re_id" column="re_id" />
		<result property="re_thing" column="re_thing" />
		<result property="re_money" column="re_money" />
		<result property="re_time" column="re_time" />
		<collection property="car" javaType="org.great.bean.Car">
			<id property="c_id" column="c_id" />
			<result property="c_num" column="c_num" />
			<result property="pm_id" column="pm_id" />
		</collection>
		<collection property="param"
			javaType="org.great.bean.Param">
			<id property="pm_id" column="pm_id" />
			<result property="pm_name" column="pm_name" />
			<result property="pm_type" column="pm_type" />
		</collection>
	</resultMap>
	
	<!-- 	查找收支明细列表 -->
	<select id="findReceiptList" parameterType="org.great.bean.Receipt"
		resultMap="ReceiptListMap">
		select * from 
		(select rec.*,u.u_name   from tb_receipt rec LEFT JOIN tb_user u on rec.u_id= u.u_id ) rec1 
		LEFT JOIN tb_car c ON rec1.c_id =c.c_id
	</select>
	<resultMap type="org.great.bean.Receipt" id="ReceiptListMap" >
		<id property="re_id" column="re_id" />
		<result property="re_thing" column="re_thing" />
		<result property="re_money" column="re_money" />
		<result property="re_time" column="re_time" />
	
		<association property="car" javaType="org.great.bean.Car">
			<id property="c_id" column="c_id" />
			<result property="c_num" column="c_num" />
		</association>
		<association property="user" javaType="org.great.bean.User">
			<id property="u_id" column="u_id" />
			<result property="u_name" column="u_name" />
		</association>
	</resultMap>

</mapper>