<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.UserMapper">

	<select id="getUser" parameterType="org.great.bean.User"
		resultType="org.great.bean.User">
		select * from tb_user where u_name = #{u_name} 
	</select>
<!-- 查询所有员工 -->
	<select id="getUserListAllX" resultType="org.great.bean.User">
		select * from tb_user
	</select>


	<delete id="delete" parameterType="int">

		delete from tb_file where
		f_id=#{ID}

	</delete>

	<select id="FindStaffRole" parameterType="int"
		resultType="org.great.bean.RoleRel">
		select role_id from staff_rel where u_id = #{id}
	</select>

	<select id="GetRole" resultType="org.great.bean.Role">

		select * from tb_role

	</select>

	<select id="findUserByName" parameterType="org.great.bean.User"
		resultType="org.great.bean.User">
		select * from tb_user where u_name = #{u_name} and u_pwd =
		#{u_pwd}
	</select>


	<select id="FindbyID" parameterType="java.lang.Integer"
		resultMap="roleMap">

		select r.role_name,s.*,u.u_name from staff_rel s,tb_role r ,
		tb_user u where
		u.u_id = s.u_id and r.role_id = s.role_id and u.u_id =
		#{id}
	</select>

	<!-- 使用嵌套查询，当查出一条员工数据时，也关联查询出对应的部门信息 -->

	<select id="findList" parameterType="String"
		resultMap="userMap">
	${value}
	</select>

	<select id="selectParam" parameterType="org.great.bean.User"
		resultType="org.great.bean.Param">
		select * from 	tb_param where pm_id =#{pm_id}
	</select>
	
	
 	<select id="Selectstaff_rel" parameterType="org.great.bean.User"
		resultMap="roleMap2">
		select * from staff_rel where u_id =#{u_id}
	</select>
	
	 <select id="selectR" parameterType="org.great.bean.Staff_rel"
		resultType="org.great.bean.Role">
		select * from 	tb_role where role_id =#{role_id}
	</select>
	
  	<resultMap type="org.great.bean.Staff_rel" id="roleMap2">	
		<association property="role" column="role_id"
			javaType="org.great.bean.Role" select="selectR">			
		</association>		
	</resultMap>  
	 


	<resultMap type="org.great.bean.User" id="userMap">
	
		<association property="param" column="pm_id"
			javaType="org.great.bean.Param" select="selectParam">						
		</association> 
		
		<association property="sf" column="role_id"
			javaType="org.great.bean.Staff_rel" select="Selectstaff_rel">						
		</association>
	</resultMap>





	<resultMap type="org.great.bean.RoleRel" id="roleMap">

		<id property="sr_id" column="SR_ID"></id>
		<result property="u_id" column="U_ID" />
		<result property="role_id" column="ROLE_ID" />
		<association property="role" column="ROLE_ID"
			javaType="org.great.bean.Role">
			<id property="role_id" column="ROLE_ID" />
			<result property="role_name" column="ROLE_NAME" />
		</association>
		<association property="user" column="U_ID"
			javaType="org.great.bean.User">
			<id property="u_id" column="U_ID" />
			<result property="u_name" column="U_NAME" />
		</association>

	</resultMap>


	<select id="findUList" parameterType="String" resultType="org.great.bean.User">
		select * from ${value}
	</select>
	
	<select id="findUList2" resultType="org.great.bean.User">
		select * from ${sql}
	</select>



	<select id="checkUser"  resultType="org.great.bean.User" parameterType="java.util.Map">
			<if test="dataMap!=null">
			 select cc.* from
			</if>			
				(select * from tb_user ORDER BY '' DESC )
 			<if test="dataMap!=null">
 				cc
 			</if>
 			<where>
 				<if test="dataMap!=null">				
				<foreach collection="dataMap.keys"  item="key" separator="or"  >      	    
         	  	 ${key} =  #{dataMap[${key}]}
        		   
        		 </foreach>    		
        		 </if>
        	 </where> 	
		</select>
</mapper>