<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="org.great.mapper.VipMapper">
	<!-- 添加一个车辆VIP -->
	<insert id="AddvipX" parameterType="org.great.bean.Vip">
		insert into
		tb_vip(co_id,c_id,v_starttime,v_overtime,pm_id) values
		(#{co_id},#{c_id},#{v_starttime},#{v_overtime},#{pm_id})
	</insert>

	<!-- 根据video更改结束时间即续费包月 -->
	<update id="chageOvertimeByVidX"
		parameterType="org.great.bean.Vip">
		update tb_vip set v_overtime = #{v_overtime} where v_id
		= #{v_id}
	</update>

	<!-- 自动判断月缴到期后，更改状态为已过期 -->
	<update id="updateVipStu" parameterType="java.lang.String">
		update tb_vip v set v.pm_id =
		(select pm_id from tb_param where pm_name="已过期")
		where v.v_overtime=#{date}
	</update>
	
	<!-- 自动将未生效的月缴套餐生效 -->
	<update id="activeVip" >
		update tb_vip v set v.pm_id =
		(select pm_id from tb_param where pm_name="生效中")
		where v.pm_id=(select pm_id from tb_param where pm_name="待生效")
	</update>
	
	<!-- 根据车id查询vip表信息 -->
	<select id="findVipX" parameterType="int"
		resultType="org.great.bean.Vip">
		select * from tb_vip WHERE
		c_id =
		#{c_id}
	</select>
	<!-- 根据车ID参数类型参数名称查询VIP表信息 -->
	<select id="findVipPmIDX" resultMap="findVipPmIDXMap">
		select * from tb_vip v LEFT
		JOIN tb_param pm on v.pm_id = pm.pm_id WHERE
		v.c_id = #{c_id} and
		pm.pm_type =#{pm_type} and pm.pm_name=#{pm_name}
	</select>
	<resultMap type="org.great.bean.Vip" id="findVipPmIDXMap">
		<id property="v_id" column="v_id" />
		<result property="co_id" column="co_id" />
		<result property="c_id" column="c_id" />
		<result property="v_starttime" column="v_starttime" />
		<result property="v_overtime" column="v_overtime" />
		<result property="pm_id" column="pm_id" />
		<collection property="param" column="pm_id"
			javaType="org.great.bean.Param">
			<id property="pm_id" column="pm_id" />
			<result property="pm_name" column="pm_name" />
			<result property="pm_type" column="pm_type" />
		</collection>
	</resultMap>
	<!-- 	根据V_id删除信息记录 -->
	<delete id="VipReturnX" parameterType="int">
		DELETE  FROM tb_vip where v_id = #{v_id}
	</delete>
	
</mapper>